<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="bindUser" value="username@example.com"/>
    <add key="bindPassword" value="password"/>
    <add key="ldapHost" value="ldapOrAdServer.example.com"/>
    <add key="baseQuery" value="DC=example,DC=com"/>
    <add key="userIdAttribute" value="sAMAccountName"/>
    <add key="outputFile" value="C:\Temp\svn_access_file"/>
    <add key="outputFileBackupDaysToKeep" value="14"/>
    <add key="logFile" value="SvnSyncAuthzLdap.log"/>
    <add key="loggingLevel" value="INFO"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
